export CRAFT_SERVICE_ENDPOINT=http://localhost:3001/api/v1

export SIDEKIQ_CONCURRENCY_COUNT=5
export SIDEKIQ_CLIENT_REDIS_POOL_SIZE=5
export SIDEKIQ_SERVER_REDIS_POOL_SIZE=5

export TWITTER_KEY=twitter123
export TWITTER_SECRET=twitterABC

export YELP_YWS_ID=yelpID
export YELP_CONSUMER_KEY=yelp123
export YELP_CONSUMER_SECRET=yelpABC
export YELP_TOKEN=yelp456
export YELP_TOKEN_SECRET=yelpXYZ
